<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164177368141-cjo9v5ld6lvicue0h2kcn6upaj41k85g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164177368141-cjo9v5ld6lvicue0h2kcn6upaj41k85g</string>
	<key>API_KEY</key>
	<string>AIzaSyBuxFtjCQcCdDGVCBjpY984h5IQuVuRPK4</string>
	<key>GCM_SENDER_ID</key>
	<string>164177368141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.satwik.aaspaas</string>
	<key>PROJECT_ID</key>
	<string>aaspaas-29d95</string>
	<key>STORAGE_BUCKET</key>
	<string>aaspaas-29d95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164177368141:ios:9fc348318ce3c4421cf804</string>
</dict>
</plist>